[Desktop Entry]
Name=Monitor
Name[bg]=Монитор
Name[bs]=Monitor
Name[ca]=Monitor
Name[ca@valencia]=Monitor
Name[cs]=Monitor
Name[da]=Monitor
Name[de]=Monitor
Name[el]=Επόπτης
Name[en_GB]=Monitor
Name[eo]=Vidigilo
Name[es]=Monitor
Name[et]=Monitor
Name[fi]=Valvonta
Name[fr]=Outil de surveillance
Name[ga]=Monitor
Name[gl]=Monitor
Name[hu]=Figyelő
Name[ia]=Monitor
Name[it]=Monitor
Name[ja]=モニタ
Name[km]=កម្មវិធី​​ត្រួត​ពិនិត្យ
Name[ko]=모니터
Name[lt]=Stebėtojas
Name[mr]=मॉनिटर
Name[nb]=Overvåker
Name[nds]=Kieker
Name[nl]=Monitor
Name[pl]=Monitor
Name[pt]=Monitor
Name[pt_BR]=Monitor
Name[ru]=Мониторы
Name[sk]=Monitor
Name[sl]=Nadzornik
Name[sr]=Монитор
Name[sr@ijekavian]=Монитор
Name[sr@ijekavianlatin]=Monitor
Name[sr@latin]=Monitor
Name[sv]=Bildskärm
Name[tr]=Monitör
Name[ug]=ئېكران
Name[uk]=Монітор
Name[x-test]=xxMonitorxx
Name[zh_CN]=监视器
Name[zh_TW]=螢幕
Comment=KNemo monitor icon theme
Comment[bg]=Набор икони в стил "монитор" за KNemo
Comment[bs]=Monitorska tema ikona K‑nema
Comment[ca]=Tema d'icona pel monitor KNemo
Comment[ca@valencia]=Tema d'icona pel monitor KNemo
Comment[cs]=KNemo set ikon - monitor
Comment[da]=KNemo ikontema til monitor
Comment[de]=KNemo-Symbol-Design „Monitor“
Comment[el]=Θέμα εικονιδίου επόπτη KNemo
Comment[en_GB]=KNemo monitor icon theme
Comment[es]=Tema de iconos del monitor de KNemo
Comment[et]=KNemo monitori ikooniteema
Comment[fi]=KNemo-valvontakuvaketeema
Comment[fr]=Thème d'icônes pour l'outil de surveillance Knemo
Comment[ga]=Téama deilbhíní 'Monitor' de chuid KNemo
Comment[gl]=Tema de iconas do monitor KNemo
Comment[hu]=KNemo figyelő ikontéma
Comment[it]=Tema delle icone di KNemo per monitor
Comment[ja]=KNemo のモニタ・アイコンテーマ
Comment[km]=ស្បែក​រូប​តំណាង​កម្ម​វិធី​ត្រួត​ពិនិត្យ KNemo
Comment[ko]=KNemo 모니터 아이콘 테마
Comment[lt]=KNemo stebėtojo ženkliuko tema
Comment[mr]=के-नेमो मॉनिटर चिन्ह शैली
Comment[nb]=KNemo tema for overvåkerikon
Comment[nds]=Kieker-Lüttbildmuster för KNemo
Comment[nl]=KNemo monitor-pictogramthema
Comment[pl]=Motyw ikon monitora dla KNemo
Comment[pt]=Tema de ícones do monitor do KNemo
Comment[pt_BR]=Tema do ícones do monitor do KNemo
Comment[ru]=Набор значков для KNemo с мониторами
Comment[sk]=Téma ikon monitora KNemo
Comment[sl]=Tema ikon "Nadzornik" za KNemo
Comment[sr]=Мониторска тема иконица К‑нема
Comment[sr@ijekavian]=Мониторска тема иконица К‑нема
Comment[sr@ijekavianlatin]=Monitorska tema ikonica KNema
Comment[sr@latin]=Monitorska tema ikonica KNema
Comment[sv]=Knemo bildskärmsikontema
Comment[tr]=KNemo monitör simge teması
Comment[uk]=Тема з піктограмами моніторів для KNemo
Comment[x-test]=xxKNemo monitor icon themexx
Comment[zh_CN]=KNemo 监视器图标主题
Comment[zh_TW]=KNemo 螢幕圖示主題
Type=Application
X-KNemo-Theme=monitor
