[Desktop Entry]
Name=Monitor
Name[x-test]=xxMonitorxx
Comment=KNemo monitor icon theme
Comment[x-test]=xxKNemo monitor icon themexx
Type=Application
X-KNemo-Theme=monitor
