[Desktop Entry]
Name=Monitor
Name[da]=Monitor
Name[de]=Monitor
Name[en_GB]=Monitor
Name[es]=Monitor
Name[et]=Monitor
Name[fi]=Valvontaohjelma
Name[fr]=Moniteur réseau
Name[gl]=Vixilante
Name[ja]=モニタ
Name[nb]=Overvåker
Name[nds]=Kieker
Name[nl]=Monitor
Name[pt]=Monitor
Name[pt_BR]=Monitor
Name[ru]=Мониторы
Name[sv]=Bildskärm
Name[tr]=Monitör
Name[uk]=Монітор
Name[x-test]=xxMonitorxx
Name[zh_TW]=螢幕
Comment=KNemo monitor icon theme
Comment[da]=KNemo ikontema til monitor
Comment[de]=KNemo-Symbol-Design „Monitor“
Comment[en_GB]=KNemo monitor icon theme
Comment[es]=Tema de iconos del monitor de KNemo
Comment[et]=KNemo monitori ikooniteema
Comment[fi]=KNemo-valvontaohjelmakuvaketeema
Comment[fr]=Thème d'icônes pour le moniteur réseau KNemo
Comment[gl]=Tema de iconas do vixilante do KNemo
Comment[ja]=KNemo のモニタ・アイコンテーマ
Comment[nb]=KNemo tema for overvåkerikon
Comment[nds]=Kieker-Lüttbildmuster för KNemo
Comment[nl]=KNemo monitor-pictogramthema
Comment[pt]=Tema de ícones do monitor do KNemo
Comment[pt_BR]=Tema do ícones do monitor do KNemo
Comment[ru]=Набор значков для KNemo с мониторами
Comment[sv]=Knemo bildskärmsikontema
Comment[tr]=KNemo monitör simge teması
Comment[uk]=Тема з піктограмами моніторів для KNemo
Comment[x-test]=xxKNemo monitor icon themexx
Comment[zh_TW]=KNemo 螢幕圖示主題
Type=Application
X-KNemo-Theme=monitor
