[Desktop Entry]
Exec=kcmshell4 kcm_knemo
Icon=knemo
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_knemo
X-KDE-PluginKeyword=knemo
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=network-settings
X-KDE-Weight=60

Name=Network Monitor
Name[bg]=Монитор на мрежата
Name[cs]=Monitor sítě
Name[da]=Netværksovervågning
Name[de]=Netzwerkmonitor
Name[el]=Επίβλεψη δικτύου
Name[es]=Monitor de red
Name[et]=Võrgumonitor
Name[fr]=Moniteur réseau
Name[ga]=Monatóir Líonra
Name[gl]=Vixilante da rede
Name[hne]=नेटवर्क मानीटर
Name[km]=កម្មវិធី​គ្រប់គ្រង​បណ្ដាញ
Name[lt]=Tinklo stebėjimas
Name[lv]=Tīkla pārraugs
Name[nds]=Nettwark-Kieker
Name[nl]=Netwerkmonitor
Name[pa]=ਨੈੱਟਵਰਕ ਮਾਨੀਟਰ
Name[pt]=Monitor da Rede
Name[pt_BR]=Monitor da rede
Name[ro]=Monitor rețea
Name[ru]=Сетевой монитор
Name[sv]=Nätverksövervakare
Name[th]=โปรแกรมเฝ้าสังเกตระบบเครือข่าย
Name[tr]=Ağ İzleyici
Name[uk]=Спостереження за мережею
Name[x-test]=xxNetwork Monitorxx
Name[zh_CN]=网络监控
Name[zh_TW]=網路監控
Comment=Monitor network interfaces
Comment[bg]=Показване на информация за мрежовите интерфейси
Comment[cs]=Rozhraní monitoru sítě
Comment[da]=Overvåg netværkskort
Comment[de]=Überwachung von Netzwerkschnittstellen
Comment[el]=Επίβλεψη διασυνδέσεων δικτύου
Comment[es]=Monitor de interfaces de red
Comment[et]=Võrguliideste jälgija
Comment[fr]=Surveille les interfaces réseau
Comment[ga]=Déan monatóireacht ar chomhéadain líonra
Comment[gl]=Vixía as interfaces de rede
Comment[hne]=नेटवर्क इंटरफेस मानीटर करव
Comment[km]=ចំណុច​ប្រទាក់​កម្មវិធី​គ្រប់គ្រង​បណ្ដាញ
Comment[lt]=Stebėti tinklo įrenginius
Comment[lv]=Pārrauga tīkla ierīces
Comment[nds]=Kieker för Nettwark-Koppelsteden
Comment[nl]=Volg netwerkinterfaces
Comment[pa]=ਨੈੱਟਵਰਕ ਇੰਟਰਫੇਸ ਮਾਨੀਟਰ ਕਰੋ
Comment[pt]=Vigia interfaces de rede
Comment[pt_BR]=Monitor de interfaces de rede
Comment[ro]=Monitorizează interfețele de rețea
Comment[ru]=Наблюдение за сетевыми интерфейсами
Comment[sv]=Övervaka nätverksgränssnitt
Comment[th]=โปรแกรมเฝ้าสังเกตอินเทอร์เฟซของระบบเครือข่าย
Comment[tr]=Ağ arayüzlerini izler
Comment[uk]=Спостерігає за інтерфейсами мережі
Comment[x-test]=xxMonitor network interfacesxx
Comment[zh_CN]=监控网络接口
Comment[zh_TW]=監控網路介面

X-KDE-Keywords=knemo,network monitor,wlan monitor,wifi monitor,ethernet monitor,wireless monitor,systray
X-KDE-Keywords[cs]=knemo,monitor sítě,monitor wlan,monitor wifi,monitor ethernetu,monitor bezdrátového připojení,systray
X-KDE-Keywords[da]=knemo,netværksovervågning,WLAN-overvågning,WIFI-overvågning,Ethernet-overvågning,trådløs overvågning,statusfelt
X-KDE-Keywords[de]=knemo,netzwerk-monitor,wlan-monitor,wifi-monitor,ethernet-monitor,wireless-monitor,kontrollleiste,überwachung,netzwerk,drahtlos-monitor
X-KDE-Keywords[el]=knemo,επόπτης δικτύου,επόπτης wlan,επόπτης wifi,επόπτης ethernet, επόπτης wireless,πλαίσιο συστήματος
X-KDE-Keywords[es]=knemo,monitor de red,monitor de wlan,monitor wifi,monitor de ethernet,monitor inalámbrico,bandeja del sistema
X-KDE-Keywords[et]=knemo,võrgumonitor,wlan monitor,wifi monitor,ethernet monitor,traadita võrgu monitor,süsteemne salv
X-KDE-Keywords[ga]=knemo,monatóir líonra,monatóir wlan,monatóir wifi,monatóir ethernet,monatóir líonra gan sreang,tráidire an chórais
X-KDE-Keywords[gl]=knemo,monitor, rede, wlan, wifi, ethernet, wireless,systray
X-KDE-Keywords[it]=knemo,monitor di rete,wlan monitor,monitor senza fili,ethernet monitor,vassoio di sistema
X-KDE-Keywords[ja]=knemo,ネットワークモニタ,wlan モニタ,wifi モニタ,ethernet モニタ,ワイヤレスモニタ,システムトレイ
X-KDE-Keywords[nl]=knemo,netwerkmonitor,wlan-monitor,wifi-monitor,ethernetmonitor,wireless-monitor,systeemvak
X-KDE-Keywords[pt]=knemo,monitor da rede,monitor de wlan,monitor wifi,monitor de ethernet,monitor sem-fios,bandeja do sistema
X-KDE-Keywords[pt_BR]=knemo,monitor de rede,wlan,monitor de wifi monitor,monitor ethernet monitor,monitor de wireless,painel do sistema, mini-aplicativo
X-KDE-Keywords[ru]=knemo,мониторинг сети,мониторинг беспроводной сети,wifi монитор,монитор локальной сети,системный лоток,сеть,беспроводная сеть
X-KDE-Keywords[sv]=knemo,nätverksövervakning,WLAN-övervakning,WIFI-övervakning,Ethernet-övervakning,trådlös övervakning,systembricka
X-KDE-Keywords[uk]=knemo,network monitor,wlan monitor,wifi monitor,ethernet monitor,wireless monitor,systray,мережа,монітор,системний лоток,монітор wifi
X-KDE-Keywords[xx]=xxknemo,network monitor,wlan monitor,wifi monitor,ethernet monitor,wireless monitor,systrayxx
X-KDE-Keywords[zh_CN]=knemo,network monitor,wlan monitor,wifi monitor,ethernet monitor,wireless monitor,systray,网络监视器,无限局域网监视器,wifi 监视器以太网监视器,无线网络监视器,系统托盘
