[Desktop Entry]
Exec=kcmshell4 kcm_knemo
Icon=knemo
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_knemo
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=network-settings
X-KDE-Weight=60

Name=Network Monitor
Name[bg]=Наблюдение на мрежата
Name[bs]=Nadzornik mreže
Name[cs]=Monitor sítě
Name[da]=Netværksovervågning
Name[de]=Netzwerkmonitor
Name[el]=Επόπτης δικτύου
Name[en_GB]=Network Monitor
Name[es]=Monitor de red
Name[et]=Võrgujälgija
Name[fi]=Verkonvalvonta
Name[fr]=Outil de surveillance de réseaux
Name[ga]=Monatóir Líonra
Name[gl]=Monitor da rede
Name[hne]=नेटवर्क मानीटर
Name[hu]=Hálózatfigyelő
Name[it]=Monitor di rete
Name[ja]=ネットワークモニタ
Name[km]=កម្មវិធី​គ្រប់គ្រង​បណ្ដាញ
Name[ko]=네트워크 모니터
Name[lt]=Tinklo stebėjimas
Name[lv]=Tīkla pārraugs
Name[mr]=संजाळ नियंत्रक
Name[ms]=Pengawas Rangkaian
Name[nb]=Nettverksovervåker
Name[nds]=Nettwark-Kieker
Name[nl]=Netwerkmonitor
Name[oc]=Network Monitor
Name[pa]=ਨੈੱਟਵਰਕ ਮਾਨੀਟਰ
Name[pl]=Monitor sieci
Name[pt]=Monitor da Rede
Name[pt_BR]=Monitor da rede
Name[ro]=Monitor rețea
Name[ru]=Сетевой монитор
Name[sk]=Monitor siete
Name[sl]=Nadzornik omrežja
Name[sr]=Надгледање мреже
Name[sr@ijekavian]=Надгледање мреже
Name[sr@ijekavianlatin]=Nadgledanje mreže
Name[sr@latin]=Nadgledanje mreže
Name[sv]=Nätverksövervakare
Name[th]=โปรแกรมเฝ้าสังเกตระบบเครือข่าย
Name[tr]=Ağ İzleyici
Name[ug]=تور كۆزەتكۈچ
Name[uk]=Спостереження за мережею
Name[x-test]=xxNetwork Monitorxx
Name[zh_CN]=网络监视器
Name[zh_TW]= 網路監控
Comment=Configure the KNemo network monitor
Comment[bg]=Настройки на мрежовото наблюдение KNemo
Comment[bs]=Podesi KNemo nadzor mreže
Comment[cs]=Nastavení monitoru sítě KNemo
Comment[da]=Indstil KNemo netværksovervågning
Comment[de]=Den Netzwerkmonitor KNemo einrichten
Comment[el]=Διαμόρφωση επόπτη δικτύου KNemo
Comment[en_GB]=Configure the KNemo network monitor
Comment[es]=Configurar el monitor de red de KNemo
Comment[et]=KNemo võrgujälgija seadistamine
Comment[fi]=KNemo-verkonvalvonnan asetukset
Comment[fr]=Configurer l'outil de surveillance de réseaux KNemo
Comment[gl]=Configurar o monitor da rede KNemo
Comment[hu]=A KNemo hálózatfigyelő beállítása
Comment[it]=Configura il monitor di rete KNemo
Comment[km]=កំណត់​រចនាសម្ព័ន្ធកម្មវិធី​ពិនិត្យ​បណ្ដាញ KNemo​
Comment[ko]=KNemo 네트워크 모니터 설정
Comment[lt]=Konfigūruoti KNemo tinklo stebėtoją
Comment[mr]=के-नेमो संजाळ नियंत्रक संयोजीत करा
Comment[nb]=Sett opp KNemo nettverksovervåker
Comment[nds]=Nettwark-Kieker "KNemo" instellen
Comment[nl]=De KNemo-netwerkmonitor instellen
Comment[pl]=Konfiguruj monitor sieci KNemo
Comment[pt]=Configurar o monitor de rede do KNemo
Comment[pt_BR]=Configura o monitor de rede do KNemo
Comment[ru]=Настройка сетевого монитора KNemo
Comment[sk]=Nastaviť sieťový monitor KNemo
Comment[sl]=Nastavite nadzornik omrežja KNemo
Comment[sr]=Подешавање надгледања мреже К‑немом
Comment[sr@ijekavian]=Подешавање надгледања мреже К‑немом
Comment[sr@ijekavianlatin]=Podešavanje nadgledanja mreže KNemom
Comment[sr@latin]=Podešavanje nadgledanja mreže KNemom
Comment[sv]=Anpassa Knemo nätverksövervakning
Comment[tr]=KNemo ağ izleyicisini yapılandır
Comment[uk]=Налаштування спостереження за мережею KNemo
Comment[x-test]=xxConfigure the KNemo network monitorxx
Comment[zh_CN]=配置 KNemo 网络监视器
Comment[zh_TW]=設定 KNemo 網路監控

X-KDE-Keywords=knemo,network monitor,wlan monitor,wifi monitor,ethernet monitor,wireless monitor,systray
X-KDE-Keywords[bs]=knemo,nadzor mreže, wlan nadzor, wifi nadzor, ethernet nadzor, bežićni nadzor, traka
X-KDE-Keywords[cs]=knemo,síťový monitor,wlan monitor,wifi monitor,ethernet monitor,wireless monitor,systémový panel
X-KDE-Keywords[da]=knemo,netværksovervågning,wlan-overvågning,wifi-overvågning,ethernet-overvågning,trådløs-overvågning,systray,statusområde
X-KDE-Keywords[de]=knemo,netzwerk-monitor,wlan-monitor,wifi-monitor,ethernet-monitor,wireless-monitor,kontrollleiste,überwachung,netzwerk,drahtlos-monitor
X-KDE-Keywords[el]=knemo,επόπτης δικτύου,επόπτης wlan,επόπτης wifi,επόπτης ethernet, επόπτης wireless,πλαίσιο συστήματος
X-KDE-Keywords[es]=knemo,monitor de red,monitor wlan,monitor wifi,monitor ethernet,monitor de conexión inalámbrica,bandeja del sistema
X-KDE-Keywords[et]=knemo,võrgujälgija,võrgumonitor,wlani jälgija,wlani monitor,wifi jälgija,wifi monitor,etherneti jälgija,ethernet monitor,traadita võrgu jälgija,traadita võrgu monitor,süsteemne salv
X-KDE-Keywords[fi]=knemo,network monitor,wlan monitor,wifi monitor,ethernet monitor,wireless monitor,systray,verkonvalvonta,wlan-valvonta,wifi-valvonta,ethernet-valvonta,langattoman valvonta
X-KDE-Keywords[fr]=knemo, moniteur de réseaux, moniteur de wlan, moniteur Wifi, moniteur Ethernet, moniteur de liaison sans fil, boîte à miniature
X-KDE-Keywords[ga]=knemo,monatóir líonra,monatóir wlan,monatóir wifi,monatóir ethernet,monatóir líonra gan sreang,tráidire an chórais
X-KDE-Keywords[gl]=knemo,network monitor,wlan monitor,wifi monitor,ethernet monitor,wireless monitor,systray,rede,bandexa
X-KDE-Keywords[hu]=knemo,hálózatfigyelő,wlan-figyelő,wifi-figyelő,ethernet figyelő,vezeték nélküli hálózatfigyelő,paneltálca
X-KDE-Keywords[it]=Keywords=knemo,monitor di rete,wlan monitor,monitor senza fili,ethernet monitor,vassoio di sistema
X-KDE-Keywords[km]=knemo,network monitor,wlan monitor,wifi monitor,ethernet monitor,wireless monitor,systray
X-KDE-Keywords[ko]=knemo,network monitor,wlan monitor,wifi monitor,ethernet monitor,wireless monitor,systray,네트워크 모니터,무선랜 모니터,와이파이 모니터,유선랜 모니터,무선 모니터
X-KDE-Keywords[lt]=knemo,network monitor,wlan monitor,wifi monitor,ethernet monitor,wireless monitor,systray
X-KDE-Keywords[nb]=knemo,nettverksovervåker,wlan-overvåker,wifi-overvåker,ethernet-overvåker,trådløs-overvåker.systemkurv
X-KDE-Keywords[nl]=knemo,netwerkmonitor,wlan-monitor,wifi-monitor,ethernetmonitor,wireless-monitor,systeemvak
X-KDE-Keywords[pl]=knemo,monitor sieci,monitor wlan,monitor wifi,monitor ethernet,monitor bezprzewodowy,tacka systemowa
X-KDE-Keywords[pt]=knemo,monitor de rede,monitor de WLAN,monitor de WiFi,monitor de Ethernet,monitor sem-fios,bandeja
X-KDE-Keywords[pt_BR]=knemo,monitor de rede,monitor wlan,monitor wifi,ethernet monitor,monitor de rede sem fio,área de notificação
X-KDE-Keywords[ru]=network monitor,wlan monitor,wifi monitor,ethernet monitor,wireless monitor,systray,knemo,мониторинг сети,мониторинг беспроводной сети,wifi монитор,монитор локальной сети,системный лоток,сеть,беспроводная сеть
X-KDE-Keywords[sk]=knemo,sieťový monitor,wlan monitor,wifi monitor,ethernetový monitor,bezdrôtový monitor,systray
X-KDE-Keywords[sl]=knemo,nadzornik omrežja,nadzornik brezžičnega omrežja,nadzornik žičnega omrežja,sistemska vrstica
X-KDE-Keywords[sr]=knemo,network monitor,wlan monitor,wifi monitor,ethernet monitor,wireless monitor,systray,К‑немо,мрежа,надгледање,ВЛАН,етернет
X-KDE-Keywords[sr@ijekavian]=knemo,network monitor,wlan monitor,wifi monitor,ethernet monitor,wireless monitor,systray,К‑немо,мрежа,надгледање,ВЛАН,етернет
X-KDE-Keywords[sr@ijekavianlatin]=knemo,network monitor,wlan monitor,wifi monitor,ethernet monitor,wireless monitor,systray,KNemo,mreža,nadgledanje,WLAN,Ethernet
X-KDE-Keywords[sr@latin]=knemo,network monitor,wlan monitor,wifi monitor,ethernet monitor,wireless monitor,systray,KNemo,mreža,nadgledanje,WLAN,Ethernet
X-KDE-Keywords[sv]=knemo,nätverksövervakning,WLAN-övervakning,WIFI-övervakning,Ethernet-övervakning,trådlös övervakning,systembricka
X-KDE-Keywords[tr]=knemo,ağ izleyici,wlan izleyici,wifi izleyici,ethernet izleyici,kablosuz ağ izleyici,sistem çekmecesi
X-KDE-Keywords[uk]=knemo,спостереження за мережею,спостереження за wlan,спостереження за wifi,спостереження за ethernet,спостереження за бездротовою мережею,системний лоток,лоток
X-KDE-Keywords[x-test]=xxknemo,network monitor,wlan monitor,wifi monitor,ethernet monitor,wireless monitor,systrayxx
X-KDE-Keywords[zh_CN]=knemo,network monitor,wlan monitor,wifi monitor,ethernet monitor,wireless monitor,systray,网络监控,无线网监控,WIFI 监控,以太网监控,无线监控,系统托盘
X-KDE-Keywords[zh_TW]=knemo,network monitor,wlan monitor,wifi monitor,ethernet monitor,wireless monitor,systray
