[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=kcmshell kcm_knemo
Icon=knemo

X-KDE-ModuleType=Library
X-KDE-Library=knemo
X-KDE-FactoryName=knemo
X-KDE-ParentApp=kcontrol

Name=Network Monitor
Name[cs]=Monitor sítě
Name[da]=Netværkovervågning
Name[et]=Võrgumonitor
Name[it]=Monitor di rete
Name[nl]=Netwerkmonitor
Name[pa]=ਨੈਟਵਰਕ ਨਿਗਰਾਨ
Name[pt]=Monitor da Rede
Name[pt_BR]=Monitor da Rede
Name[sr]=Надгледање мреже
Name[sr@Latn]=Nadgledanje mreže
Name[sv]=Nätverksövervakare
Comment=Monitor network interfaces
Comment[cs]=Rozhraní monitoru sítě
Comment[da]=Overvåger netvørskgrænseflader
Comment[et]=Võrguliideste monitor
Comment[it]=Controlla le interfacce di rete
Comment[nl]=Volg netwerkinterfaces
Comment[pa]=ਨੈਟਵਰਕ ਇੰਟਰਫੇਸ ਲਈ ਨਿਗਰਾਨੀ
Comment[pt]=Vigia interfaces de rede
Comment[pt_BR]=Vigia interfaces de rede
Comment[sr]=Интерфејс надгледања мреже
Comment[sr@Latn]=Interfejs nadgledanja mreže
Comment[sv]=Övervaka nätverksgränssnitt

Categories=Qt;KDE;X-KDE-settings-network
