[Desktop Entry]
Name=Wireless
Name[x-test]=xxWirelessxx
Comment=KNemo wireless icon theme
Comment[x-test]=xxKNemo wireless icon themexx
Type=Application
X-KNemo-Theme=wireless
