[Desktop Entry]
Name=Wireless
Name[cs]=Bezdrátové
Name[da]=Trådløst
Name[de]=Drahtlose Verbindung
Name[en_GB]=Wireless
Name[eo]=Sendrata reto
Name[es]=Inalámbrico
Name[et]=Juhtmeta
Name[fi]=Langaton
Name[fr]=Sans fil
Name[gl]=Sen fíos
Name[ja]=ワイヤレス
Name[nb]=Trådløs
Name[nds]=Funknettwark
Name[nl]=Draadloos
Name[pt]=Sem-Fios
Name[pt_BR]=Sem fio
Name[ru]=Беспроводная сеть
Name[sv]=Trådlöst
Name[tr]=Kablosuz
Name[uk]=Бездротові
Name[x-test]=xxWirelessxx
Name[zh_TW]=無線
Comment=KNemo wireless icon theme
Comment[da]=KNemo ikontema til trådløst
Comment[de]=KNemo-Symbol-Design „Drahtlosnetzwerk“
Comment[en_GB]=KNemo wireless icon theme
Comment[es]=Tema de iconos inalámbricos de KNemo
Comment[et]=KNemo juhtmeta side ikooniteema
Comment[fi]=KNemo langaton kuvaketeema
Comment[fr]=Thème d'icônes pour le sans fil KNemo
Comment[gl]=Tema de iconas sen fíos do KNemo
Comment[ja]=KNemo のワイヤレス・アイコンテーマ
Comment[nb]=KNemo tema for trådløs
Comment[nds]=Funknettwark-Lüttbildmuster för KNemo
Comment[nl]=KNemo draadloos-pictogramthema
Comment[pt]=Tema de ícones sem-fios do KNemo
Comment[pt_BR]=Tema do ícones da rede sem fio do KNemo
Comment[ru]=Набор значков для KNemo с намёком на беспроводную сеть
Comment[sv]=Knemo trådlöst ikontema
Comment[tr]=KNemo kablosuz simge teması
Comment[uk]=Тема з піктограмами бездротових з’єднань для KNemo
Comment[x-test]=xxKNemo wireless icon themexx
Comment[zh_TW]=KNemo 無線網路圖示主題
Type=Application
X-KNemo-Theme=wireless
