[Desktop Entry]
Name=Monochrome
Name[bg]=Едноцветно
Name[cs]=Monochromatický
Name[da]=Monokrom
Name[de]=Schwarzweiß
Name[el]=Monochrome
Name[es]=Monocromo
Name[et]=Ühevärviline
Name[hu]=Fekete-fehér
Name[it]=Monocromo
Name[km]=តែមួយ​ពណ៌
Name[lt]=Vienspalvis
Name[nl]=Monochroom
Name[pl]=Monochromatyczny
Name[pt]=Monocromático
Name[pt_BR]=Monocromático
Name[sk]=Čiernobiely
Name[sr]=Монохроматски
Name[sr@ijekavian]=Монохроматски
Name[sr@ijekavianlatin]=Monohromatski
Name[sr@latin]=Monohromatski
Name[sv]=Monokrom
Name[uk]=Чорно-біла
Name[x-test]=xxMonochromexx
Name[zh_TW]=單色
Comment=KNemo Monochrome icon theme (contributed by Vinícius Sabino)
Comment[cs]=Monochromatické téma ikon KNemo (vytvořil Vinícius Sabino)
Comment[da]=Monokromt ikontema til KNemo (bidrag fra Vinícius Sabino)
Comment[de]=KNemo-Symbol-Design von Vinícius Sabino
Comment[el]=Θέμα εικονιδίου KNemo Monochrome (συνεισφορά του Vinícius Sabino)
Comment[es]=Tema de iconos monocromos de KNemo (gracias a Vinícius Sabino)
Comment[et]=KNemo ühevärviline ikooniteema (annetas Vinícius Sabino)
Comment[hu]=KNemo fekete-fehér ikontéma (Vinícius Sabino közreműködésével)
Comment[it]=Tema delle icone monocromo di KNemo (di Vinícius Sabino)
Comment[km]=រូបរាង​តែមួយ​ពណ៌ KNemo (បាន​ចូល​រួម​ដោយ Vinícius Sabino)
Comment[lt]=KNemo vienspalvių ženkliukų tema (Vinícius Sabino indėlis)
Comment[nl]=KNemo monochroomthema voor pictogrammen (bijgedragen door Vinícius Sabino)
Comment[pl]=Monochromatyczny motyw ikon KNemo (stworzony przez Vinícius Sabino)
Comment[pt]=Tema de ícones monocromáticos do KNemo (contribuído por Vinícius Sabino)
Comment[pt_BR]=Tema de ícones monocromáticos do KNemo (contribuição de Vinícius Sabino)
Comment[sr]=Монохроматска тема икона К‑нема (приложио Винисијус Сабино)
Comment[sr@ijekavian]=Монохроматска тема икона К‑нема (приложио Винисијус Сабино)
Comment[sr@ijekavianlatin]=Monohromatska tema ikona KNema (priložio Vinisijus Sabino)
Comment[sr@latin]=Monohromatska tema ikona KNema (priložio Vinisijus Sabino)
Comment[sv]=Knemo monokromt ikontema (bidraget av Vinícius Sabino)
Comment[uk]=Чорно-біла тема піктограм KNemo (створено Vinícius Sabino)
Comment[x-test]=xxKNemo Monochrome icon theme (contributed by Vinícius Sabino)xx
Comment[zh_TW]=KNemo 單色圖示主題（由 Vincius Sabino 提供）
Type=Application
X-KNemo-Theme=monochrome
