[Desktop Entry]
Name=Network
Name[x-test]=xxNetworkxx
Comment=KNemo Network icon theme
Comment[x-test]=xxKNemo Network icon themexx
Type=Application
X-KNemo-Theme=network
