[Desktop Entry]
Name=Network
Name[da]=Netværk
Name[de]=Netzwerk
Name[en_GB]=Network
Name[eo]=Reto
Name[et]=Võrk
Name[gl]=Rede
Name[nl]=Netwerk
Name[pt]=Rede
Name[sv]=Nätverk
Name[tr]=Ağ
Name[uk]=Мережа
Name[x-test]=xxNetworkxx
Comment=KNemo Network icon theme
Comment[da]=KNemo ikontema til netværk
Comment[en_GB]=KNemo Network icon theme
Comment[et]=KNemo võrgu ikooniteema
Comment[gl]=Tema de iconas Rede do KNemo
Comment[nl]=KNemo Network-pictogramthema
Comment[pt]=Tema de ícones de Rede do KNemo
Comment[sv]=Knemo nätverksikontema
Comment[tr]=KNemo Ağ simge teması
Comment[uk]=Тема з піктограмами мереж для KNemo
Comment[x-test]=xxKNemo Network icon themexx
Type=Application
X-KNemo-Theme=network
