[Desktop Entry]
Name=Network
Name[bg]=Мрежа
Name[cs]=Síť
Name[da]=Netværk
Name[de]=Netzwerk
Name[el]=Δίκτυο
Name[en_GB]=Network
Name[eo]=Reto
Name[es]=Red
Name[et]=Võrk
Name[fi]=Verkko
Name[fr]=Réseau
Name[ga]=Network
Name[gl]=Rede
Name[hu]=Hálózat
Name[it]=Rete
Name[ja]=ネットワーク
Name[km]=បណ្តាញ
Name[lt]=Tinklas
Name[nb]=Nettverk
Name[nds]=Nettwark
Name[nl]=Netwerk
Name[pl]=Sieć
Name[pt]=Rede
Name[pt_BR]=Rede
Name[ru]=Сетевые карты
Name[sk]=Sieť
Name[sr]=Мрежа
Name[sr@ijekavian]=Мрежа
Name[sr@ijekavianlatin]=Mreža
Name[sr@latin]=Mreža
Name[sv]=Nätverk
Name[tr]=Ağ
Name[ug]=تور
Name[uk]=Мережа
Name[x-test]=xxNetworkxx
Name[zh_CN]=网络
Name[zh_TW]=網路
Comment=KNemo Network icon theme
Comment[bg]=Набор икони в стил "мрежа" за KNemo
Comment[bs]=Mrežna tema ikona K‑nema
Comment[cs]=KNemo set ikon - síť
Comment[da]=KNemo ikontema til netværk
Comment[de]=KNemo-Symbol-Design „Netzwerk“
Comment[el]=Θέμα εικονιδίου δικτύου του KNemo
Comment[en_GB]=KNemo Network icon theme
Comment[es]=Tema de iconos de red de KNemo
Comment[et]=KNemo võrgu ikooniteema
Comment[fi]=KNemo-verkkokuvaketeema
Comment[fr]=Thème d'icônes pour le réseau Knemo
Comment[ga]=Téama deilbhíní 'Network' de chuid KNemo
Comment[gl]=Tema de iconas Rede do KNemo
Comment[hu]=KNemo hálózat ikontéma
Comment[it]=Tema delle icone di KNemo per le reti
Comment[ja]=KNemo のネットワーク・アイコンテーマ
Comment[km]=ស្បែក​រូប​តំណាង​បណ្តាញ​ KNemo
Comment[lt]=KNemo tinklo ženkliuko tema
Comment[nb]=KNemo tema for nettverksikon
Comment[nds]=Nettwark-Lüttbildmuster för KNemo
Comment[nl]=KNemo Network-pictogramthema
Comment[pl]=Motyw ikon sieci dla KNemo
Comment[pt]=Tema de ícones de Rede do KNemo
Comment[pt_BR]=Tema do ícones de rede do KNemo
Comment[ru]=Набор значков для KNemo с сетевыми картами
Comment[sr]=Мрежна тема икона К‑нема
Comment[sr@ijekavian]=Мрежна тема икона К‑нема
Comment[sr@ijekavianlatin]=Mrežna tema ikona KNema
Comment[sr@latin]=Mrežna tema ikona KNema
Comment[sv]=Knemo nätverksikontema
Comment[tr]=KNemo Ağ simge teması
Comment[uk]=Тема з піктограмами мереж для KNemo
Comment[x-test]=xxKNemo Network icon themexx
Comment[zh_CN]=KNemo 网络图标主题
Comment[zh_TW]=KNemo 網路圖示主題
Type=Application
X-KNemo-Theme=network
