[Desktop Entry]
Exec=knemo
Icon=knemo
Type=Application
Terminal=false
X-KDE-autostart-after=panel
X-KDE-StartupNotify=false
X-DBUS-StartupType=Unique
X-KDE-UniqueApplet=true
X-KDE-autostart-condition=knemorc:General:AutoStart:true
Categories=Qt;KDE;Network;

Name=KNemo
Name[be]=KNemo
Name[bg]=KNemo
Name[cs]=KNemo
Name[da]=KNemo
Name[de]=KNemo
Name[el]=KNemo
Name[en_GB]=KNemo
Name[es]=KNemo
Name[et]=KNemo
Name[fi]=KNemo
Name[fr]=KNemo
Name[ga]=KNemo
Name[gl]=KNemo
Name[hne]=केनीमो
Name[hr]=KNemo
Name[ja]=KNemo
Name[km]=KNemo
Name[lt]=KNemo
Name[lv]=KNemo
Name[nb]=KNemo
Name[nds]=KNemo
Name[nl]=KNemo
Name[pa]=ਕੇ-ਨੀਮੋ
Name[pt]=KNemo
Name[pt_BR]=KNemo
Name[ro]=KNemo
Name[ru]=KNemo
Name[sv]=Knemo
Name[th]=โปรแกรมเฝ้าสังเกตระบบเครือข่าย KNemo
Name[tr]=KNemo
Name[uk]=KNemo
Name[x-test]=xxKNemoxx
Name[zh_CN]=KNemo
Name[zh_TW]=KNemo
Comment=KDE Network Monitor
Comment[bg]=Монитор на мрежата
Comment[cs]=KDE monitor sítě
Comment[da]=Netværksovervågning til KDE
Comment[de]=KDE-Netzwerkmonitor
Comment[el]=Επίβλεψη δικτύου του KDE
Comment[en_GB]=KDE Network Monitor
Comment[es]=Monitor de red de KDE
Comment[et]=KDE võrgujälgija
Comment[fi]=KDE-verkkovalvontaohjelma
Comment[fr]=Moniteur réseau de KDE
Comment[ga]=Monatóir Líonra KDE
Comment[gl]=Vixilante da rede para KDE
Comment[hne]=केडीई नेटवर्क मानीटर
Comment[ja]=KDE のネットワークモニタ
Comment[km]=កម្មវិធី​គ្រប់គ្រង​បណ្ដាញ​របស់ KDE
Comment[lt]=Tinklo įrenginių stebėjimo KDE programa
Comment[lv]=KDE tīkla pārraugs
Comment[nb]=KDE nettverksovervåker
Comment[nds]=KDE-Nettwarkkieker
Comment[nl]=KDE networkmonitor
Comment[pa]=KDE ਨੈੱਟਵਰਕ ਮਾਨੀਟਰ
Comment[pt]=Monitor da Rede do KDE
Comment[pt_BR]=Monitor de rede do KDE
Comment[ro]=Monitor de rețea KDE
Comment[ru]=Сетевой монитор KDE
Comment[sv]=KDE-nätverksövervakning
Comment[th]=โปรแกรมเฝ้าสังเกตระบบเครือข่ายของ KDE
Comment[tr]=KDE Ağ İzleyici
Comment[uk]=Спостереження за мережею для KDE
Comment[x-test]=xxKDE Network Monitorxx
Comment[zh_CN]=KDE 网络监控
Comment[zh_TW]=KDE 網路監控
