[Desktop Entry]
Exec=knemo
Icon=knemo
Type=Application
Terminal=false
X-KDE-autostart-after=panel
X-KDE-StartupNotify=false
X-DBUS-StartupType=Unique
X-KDE-UniqueApplet=true
X-KDE-autostart-condition=knemorc:General:AutoStart:true
Categories=Qt;KDE;Network;

Name=KNemo
Name[hne]=केनीमो
Name[pa]=ਕੇ-ਨੀਮੋ
Name[sv]=Knemo
Name[th]=โปรแกรมเฝ้าสังเกตระบบเครือข่าย KNemo
Name[x-test]=xxKNemoxx
Comment=KDE Network Monitor
Comment[bg]=Монитор на мрежата
Comment[cs]=KDE monitor sítě
Comment[da]=Netværksovervågning til KDE
Comment[de]=KDE-Netzwerkmonitor
Comment[el]=Επίβλεψη δικτύου του KDE
Comment[es]=Monitor de red de KDE
Comment[et]=KDE võrgujälgija
Comment[fr]=Moniteur réseau de KDE
Comment[ga]=Monatóir Líonra KDE
Comment[gl]=Vixilante da rede para KDE
Comment[hne]=केडीई नेटवर्क मानीटर
Comment[km]=កម្មវិធី​គ្រប់គ្រង​បណ្ដាញ​របស់ KDE
Comment[lt]=Tinklo įrenginių stebėjimo KDE programa
Comment[lv]=KDE tīkla pārraugs
Comment[nb]=KDE nettverksovervåker
Comment[nds]=KDE-Nettwarkkieker
Comment[nl]=KDE networkmonitor
Comment[pa]=KDE ਨੈੱਟਵਰਕ ਮਾਨੀਟਰ
Comment[pt]=Monitor da Rede do KDE
Comment[pt_BR]=Monitor de rede do KDE
Comment[ro]=Monitor de rețea KDE
Comment[ru]=Сетевой монитор KDE
Comment[sv]=KDE-nätverksövervakning
Comment[th]=โปรแกรมเฝ้าสังเกตระบบเครือข่ายของ KDE
Comment[tr]=KDE Ağ İzleyici
Comment[uk]=Спостереження за мережею для KDE
Comment[x-test]=xxKDE Network Monitorxx
Comment[zh_CN]=KDE 网络监控
Comment[zh_TW]=KDE 網路監控
