[Desktop Entry]
Exec=knemo
Icon=knemo
Type=Application
Terminal=false
X-KDE-autostart-after=panel
X-KDE-StartupNotify=false
X-DBUS-StartupType=Unique
X-KDE-UniqueApplet=true
X-KDE-autostart-condition=knemorc:General:AutoStart:true
Categories=Qt;KDE;Network;

Name=KNemo
Name[be]=KNemo
Name[bg]=KNemo
Name[cs]=KNemo
Name[da]=KNemo
Name[de]=KNemo
Name[el]=KNemo
Name[en_GB]=KNemo
Name[es]=KNemo
Name[et]=KNemo
Name[fi]=KNemo
Name[fr]=KNemo
Name[ga]=KNemo
Name[gl]=KNemo
Name[hne]=केनीमो
Name[hr]=KNemo
Name[it]=KNemo
Name[ja]=KNemo
Name[km]=KNemo
Name[lt]=KNemo
Name[lv]=KNemo
Name[nb]=KNemo
Name[nds]=KNemo
Name[nl]=KNemo
Name[pa]=ਕੇ-ਨੀਮੋ
Name[pt]=KNemo
Name[pt_BR]=KNemo
Name[ro]=KNemo
Name[ru]=KNemo
Name[sr]=К‑немо
Name[sr@ijekavian]=К‑немо
Name[sr@ijekavianlatin]=KNemo
Name[sr@latin]=KNemo
Name[sv]=Knemo
Name[th]=โปรแกรมเฝ้าสังเกตระบบเครือข่าย KNemo
Name[tr]=KNemo
Name[uk]=KNemo
Name[x-test]=xxKNemoxx
Name[zh_CN]=KNemo
Name[zh_TW]=KNemo
GenericName=Network Monitor
GenericName[bg]=Наблюдение на мрежата
GenericName[cs]=Monitor sítě
GenericName[da]=Netværksovervågning
GenericName[de]=Netzwerkmonitor
GenericName[en_GB]=Network Monitor
GenericName[es]=Monitor de red
GenericName[et]=Võrgujälgija
GenericName[fi]=Verkonvalvonta
GenericName[it]=Monitor di rete
GenericName[nb]=Nettverksovervåker
GenericName[nds]=Nettwark-Kieker
GenericName[nl]=Netwerkmonitor
GenericName[pt]=Monitor da Rede
GenericName[pt_BR]=Monitor de rede
GenericName[ru]=Сетевой монитор
GenericName[sv]=Nätverksövervakning
GenericName[tr]=Ağ İzleyici
GenericName[uk]=Спостереження за мережею
GenericName[x-test]=xxNetwork Monitorxx
GenericName[zh_CN]=网络监视器
GenericName[zh_TW]=網路監控
