[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=KDEDModule
X-KDE-ModuleType=Library
X-KDE-Library=knemod
X-KDE-FactoryName=knemod
X-KDE-Kded-autoload=true
X-KDE-Kded-load-on-demand=false
Name=KNemo
Name[xx]=xxKNemoxx
Comment=KDE Network Monitor
Comment[de]=KDE Netzwerk Monitor
Comment[it]=Monitor di Rete di KDE
Comment[pl]=Monitor sieci dla KDE
Comment[pt_BR]=Monitor de rede do KDE
Comment[xx]=xxKDE Network Monitorxx
