[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=KDEDModule
X-KDE-ModuleType=Library
X-KDE-Library=knemod
X-KDE-FactoryName=knemod
X-KDE-Kded-autoload=true
X-KDE-Kded-load-on-demand=false
Name=KNemo
Name[sv]=Knemo
Name[xx]=xxKNemoxx
Comment=KDE Network Monitor
Comment[bg]=Монитор на мрежата
Comment[br]=Eveshaer ar rouedad evit KDE
Comment[cs]=KDE monitor sítě
Comment[da]=KDE's netværksovervågning
Comment[de]=KDE-Netzwerkmonitor
Comment[el]=Επίβλεψη δικτύου του KDE
Comment[es]=Monitor de red de KDE
Comment[et]=KDE võrgumonitor
Comment[it]=Monitor di rete di KDE
Comment[ja]=KDE ネットワークモニタ
Comment[ka]=KDE-ს ქსელის მონიტორი
Comment[lt]=Tinklo įrenginių stebėjimo KDE programa
Comment[nl]=KDE networkmonitor
Comment[pa]=KDE ਨੈਟਵਰਕ ਨਿਗਰਾਨ
Comment[pl]=Monitor sieci dla KDE
Comment[pt]=Monitor da Rede do KDE
Comment[pt_BR]=Monitor de Rede do KDE
Comment[ru]=Сетевой монитор KDE
Comment[sr]=Надгледање мреже за KDE
Comment[sr@Latn]=Nadgledanje mreže za KDE
Comment[sv]=KDE-nätverksövervakning
Comment[tr]=KDE Ağ İzleyici
Comment[uk]=Монітор мережі для KDE
Comment[xx]=xxKDE Network Monitorxx
Comment[zh_CN]=KDE 网络监视器
