[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=KDEDModule
X-KDE-ModuleType=Library
X-KDE-Library=knemod
X-KDE-FactoryName=knemod
X-KDE-Kded-autoload=true
X-KDE-Kded-load-on-demand=false
Name=KNemo
Name[sv]=Knemo
Comment=KDE Network Monitor
Comment[cs]=KDE monitor sítě
Comment[da]=KDE's netværksovervågning
Comment[et]=KDE võrgumonitor
Comment[it]=Monitor di rete di KDE
Comment[nl]=KDE networkmonitor
Comment[pa]=KDE ਨੈਟਵਰਕ ਨਿਗਰਾਨ
Comment[pl]=Monitor sieci dla KDE
Comment[pt]=Monitor da Rede do KDE
Comment[pt_BR]=Monitor da Rede do KDE
Comment[ru]=Сетевой монитор KDE
Comment[sr]=Надгледање мреже за KDE
Comment[sr@Latn]=Nadgledanje mreže za KDE
Comment[sv]=KDE-nätverksövervakning
