[Desktop Entry]
Name=Modem
Name[bg]=Модем
Name[bs]=Modem
Name[cs]=Modem
Name[da]=Modem
Name[de]=Modem
Name[el]=Μόντεμ
Name[en_GB]=Modem
Name[eo]=Modem
Name[es]=Módem
Name[fi]=Modeemi
Name[fr]=Modem
Name[ga]=Modem
Name[gl]=Módem
Name[hu]=Modem
Name[ia]=Modem
Name[it]=Modem
Name[ja]=モデム
Name[km]=ម៉ូដឹម
Name[ko]=모뎀
Name[lt]=Modemas
Name[mr]=मोडेम
Name[nb]=Modem
Name[nds]=Modem
Name[nl]=Modem
Name[pa]=ਮਾਡਮ
Name[pl]=Modem
Name[pt]=Modem
Name[pt_BR]=Modem
Name[ru]=Модемы
Name[sk]=Modem
Name[sl]=Modem
Name[sr]=Модем
Name[sr@ijekavian]=Модем
Name[sr@ijekavianlatin]=Modem
Name[sr@latin]=Modem
Name[sv]=Modem
Name[tr]=Modem
Name[ug]=مودېم
Name[uk]=Модем
Name[x-test]=xxModemxx
Name[zh_CN]=调制解调器
Name[zh_TW]=數據機
Comment=KNemo modem icon theme
Comment[bg]=Набор икони в стил "модем" за KNemo
Comment[bs]=Modemska tema ikona K‑nema
Comment[cs]=KNemo set ikon - modem
Comment[da]=KNemo ikontema til modem
Comment[de]=KNemo-Symbol-Design „Modem“
Comment[el]=Θέμα εικονιδίου μόντεμ του KNemo
Comment[en_GB]=KNemo modem icon theme
Comment[es]=Tema de iconos de módem de KNemo
Comment[fi]=KNemo-modeemikuvaketeema
Comment[fr]=Thème d'icônes pour les modems dans Knemo
Comment[ga]=Téama deilbhíní 'Modem' de chuid KNemo
Comment[gl]=Tema de iconas de módem do KNemo
Comment[hu]=KNemo modem ikontéma
Comment[it]=Tema delle icone di KNemo per modem
Comment[ja]=KNemo のモデム・アイコンテーマ
Comment[km]=ស្បែក​រូបតំណាង​ម៉ូដឹម​ KNemo
Comment[ko]=KNemo 모뎀 아이콘 테마
Comment[lt]=KNemo modemo ženkliuko tema
Comment[mr]=के-नेमो मोडेम चिन्ह शैली
Comment[nb]=KNemo tema for modemikon
Comment[nds]=Modem-Lüttbildmuster för KNemo
Comment[nl]=KNemo modem-pictogramthema
Comment[pl]=Motyw ikon modemu dla KNemo
Comment[pt]=Tema de ícones de modem do KNemo
Comment[pt_BR]=Tema do ícones de modem do KNemo
Comment[ru]=Набор значков для KNemo с модемами
Comment[sk]=Téma ikon modemu KNemo
Comment[sl]=Tema ikon "Modem" za KNemo
Comment[sr]=Модемска тема икона К‑нема
Comment[sr@ijekavian]=Модемска тема икона К‑нема
Comment[sr@ijekavianlatin]=Modemska tema ikona KNema
Comment[sr@latin]=Modemska tema ikona KNema
Comment[sv]=Knemo modemikontema
Comment[tr]=KNemo modem simge teması
Comment[uk]=Тема з піктограмами модемів для KNemo
Comment[x-test]=xxKNemo modem icon themexx
Comment[zh_CN]=KNemo 调制解调器图标主题
Comment[zh_TW]=KNemo 數據機圖示主題
Type=Application
X-KNemo-Theme=modem
