[Desktop Entry]
Name=Modem
Name[cs]=Modem
Name[da]=Modem
Name[de]=Modem
Name[en_GB]=Modem
Name[eo]=Modem
Name[es]=Módem
Name[et]=Modem
Name[fr]=Modem
Name[gl]=Módem
Name[ja]=モデム
Name[nb]=Modem
Name[nl]=Modem
Name[pt]=Modem
Name[pt_BR]=Modem
Name[ru]=Модемы
Name[sv]=Modem
Name[tr]=Modem
Name[uk]=Модем
Name[x-test]=xxModemxx
Name[zh_TW]=數據機
Comment=KNemo modem icon theme
Comment[da]=KNemo ikontema til modem
Comment[en_GB]=KNemo modem icon theme
Comment[es]=Tema de iconos de módem de KNemo
Comment[et]=KNemo modemi ikooniteema
Comment[fr]=Thème d'icônes pour le modem KNemo
Comment[gl]=Tema de iconas de módem do KNemo
Comment[ja]=KNemo のモデム・アイコンテーマ
Comment[nb]=KNemo tema for modemikon
Comment[nl]=KNemo modem-pictogramthema
Comment[pt]=Tema de ícones de modem do KNemo
Comment[pt_BR]=Tema do ícones de modem do KNemo
Comment[sv]=Knemo modemikontema
Comment[tr]=KNemo modem simge teması
Comment[uk]=Тема з піктограмами модемів для KNemo
Comment[x-test]=xxKNemo modem icon themexx
Comment[zh_TW]=KNemo 數據機圖示主題
Type=Application
X-KNemo-Theme=modem
