[Desktop Entry]
Name=Modem
Name[da]=Modem
Name[de]=Modem
Name[en_GB]=Modem
Name[et]=Modem
Name[gl]=Módem
Name[nl]=Modem
Name[pt]=Modem
Name[sv]=Modem
Name[tr]=Modem
Name[uk]=Модем
Name[x-test]=xxModemxx
Comment=KNemo modem icon theme
Comment[da]=KNemo ikontema til modem
Comment[en_GB]=KNemo modem icon theme
Comment[et]=KNemo modemi ikooniteema
Comment[gl]=Tema de iconas de módem do KNemo
Comment[nl]=KNemo modem-pictogramthema
Comment[pt]=Tema de ícones de modem do KNemo
Comment[sv]=Knemo modemikontema
Comment[tr]=KNemo modem simge teması
Comment[uk]=Тема з піктограмами модемів для KNemo
Comment[x-test]=xxKNemo modem icon themexx
Type=Application
X-KNemo-Theme=modem
